@font-face {
    font-family: 'Noto Sans Chinese';
    font-style: normal;
    font-weight: 100;
    src: url('../font_zh-cn_3500/NotoSansCJKsc-Thin-3500.eot'); /* IE9 Compat Modes */
    src: url('../font_zh-cn_3500/NotoSansCJKsc-Thin-3500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font_zh-cn_3500/NotoSansCJKsc-Thin-3500.woff') format('woff'), /* Modern Browsers */
    url('../font_zh-cn_3500/NotoSansCJKsc-Thin-3500.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Noto Sans Chinese';
    font-style: normal;
    font-weight: 200;
    src: url('../font_zh-cn_3500/NotoSansCJKsc-Light-3500.eot'); /* IE9 Compat Modes */
    src: url('../font_zh-cn_3500/NotoSansCJKsc-Light-3500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font_zh-cn_3500/NotoSansCJKsc-Light-3500.woff') format('woff'), /* Modern Browsers */
    url('../font_zh-cn_3500/NotoSansCJKsc-Light-3500.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Noto Sans Chinese';
    font-style: normal;
    font-weight: 300;
    src: url('../font_zh-cn_3500/NotoSansCJKsc-DemiLight-3500.eot'); /* IE9 Compat Modes */
    src: url('../font_zh-cn_3500/NotoSansCJKsc-DemiLight-3500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font_zh-cn_3500/NotoSansCJKsc-DemiLight-3500.woff') format('woff'), /* Modern Browsers */
    url('../font_zh-cn_3500/NotoSansCJKsc-DemiLight-3500.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Noto Sans Chinese';
    font-style: normal;
    font-weight: 400;
    src: url('../font_zh-cn_3500/NotoSansCJKsc-Regular-3500.eot'); /* IE9 Compat Modes */
    src: url('../font_zh-cn_3500/NotoSansCJKsc-Regular-3500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font_zh-cn_3500/NotoSansCJKsc-Regular-3500.woff') format('woff'), /* Modern Browsers */
    url('../font_zh-cn_3500/NotoSansCJKsc-Regular-3500.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Noto Sans Chinese';
    font-style: normal;
    font-weight: 500;
    src: url('../font_zh-cn_3500/NotoSansCJKsc-Medium-3500.eot'); /* IE9 Compat Modes */
    src: url('../font_zh-cn_3500/NotoSansCJKsc-Medium-3500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font_zh-cn_3500/NotoSansCJKsc-Medium-3500.woff') format('woff'), /* Modern Browsers */
    url('../font_zh-cn_3500/NotoSansCJKsc-Medium-3500.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Noto Sans Chinese';
    font-style: normal;
    font-weight: 700;
    src: url('../font_zh-cn_3500/NotoSansCJKsc-Bold-3500.eot'); /* IE9 Compat Modes */
    src: url('../font_zh-cn_3500/NotoSansCJKsc-Bold-3500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font_zh-cn_3500/NotoSansCJKsc-Bold-3500.woff') format('woff'), /* Modern Browsers */
    url('../font_zh-cn_3500/NotoSansCJKsc-Bold-3500.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Noto Sans Chinese';
    font-style: normal;
    font-weight: 900;
    src: url('../font_zh-cn_3500/NotoSansCJKsc-Black-3500.eot'); /* IE9 Compat Modes */
    src: url('../font_zh-cn_3500/NotoSansCJKsc-Black-3500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font_zh-cn_3500/NotoSansCJKsc-Black-3500.woff') format('woff'), /* Modern Browsers */
    url('../font_zh-cn_3500/NotoSansCJKsc-Black-3500.ttf')  format('truetype'); /* Safari, Android, iOS */
}


.zhs_string .thin {
    font-family: 'Noto Sans Chinese';
    font-style: normal;
    font-weight: 100;
}

.zhs_string .light {
    font-family: 'Noto Sans Chinese';
    font-style: normal;
    font-weight: 200;
}

.zhs_string .demilight {
    font-family: 'Noto Sans Chinese';
    font-style: normal;
    font-weight: 300;
}

.zhs_string .regular {
    font-family: 'Noto Sans Chinese';
    font-style: normal;
    font-weight: 400;
}

.zhs_string .medium {
    font-family: 'Noto Sans Chinese';
    font-style: normal;
    font-weight: 500;
}

.zhs_string .bold {
    font-family: 'Noto Sans Chinese';
    font-style: normal;
    font-weight: 700;
}

.zhs_string .black {
    font-family: 'Noto Sans Chinese';
    font-style: normal;
    font-weight: 900;
}

