@font-face {
    font-family: 'Noto Sans Chinese';
    font-style: normal;
    font-weight: 400;
    src: url('../font/NotoSansCJKsc-Light-l.eot'); /* IE9 Compat Modes */
    src: url('../font/NotoSansCJKsc-Light-l.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/NotoSansCJKsc-Light-l.woff') format('woff'), /* Modern Browsers */
    url('../font/NotoSansCJKsc-Light-l.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Noto Sans Chinese';
    font-style: normal;
    font-weight: 500;
    src: url('../font/NotoSansCJKsc-Regular-l.eot');
    src: url('../font/NotoSansCJKsc-Regular-l.eot?#iefix') format('embedded-opentype'),
    url('../font/NotoSansCJKsc-Regular-l.woff') format('woff'),
    url('../font/NotoSansCJKsc-Regular-l.ttf')  format('truetype');
}
@font-face {
    font-family: 'Noto Sans Chinese';
    font-style: normal;
    font-weight: 700;
    src: url('../font/NotoSansCJKsc-Bold-l.eot');
    src: url('../font/NotoSansCJKsc-Bold-l.eot?#iefix') format('embedded-opentype'),
    url('../font/NotoSansCJKsc-Bold-l.woff') format('woff'),
    url('../font/NotoSansCJKsc-Bold-l.ttf')  format('truetype');
}

.noto {
    font-family: 'Noto Sans Chinese';
}

.light {
    font-weight: 400;
}

.regular {
    font-weight: 500;
}

.bold {
    font-weight: 700;
}